@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    /*  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    background-color: #191919;
    color: #f1f1f1;
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    list-style-type: none;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #161616;
    position: fixed;
    overflow: auto;
}

li {
    border-right: 1px solid #bbb;
    display: inline;
    float: left;
}

li:last-child {
    border-right: none;
}

li a {
    color: #f1f1f1;
    display: block;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #343434;
    color: white;
}

.title-main {
    outline: solid;
    outline-color: rgb(117, 43, 24);
    display: block;
    text-align: center;
    margin: 70px 30px 0px;
    padding: 30px;
    border-radius: 15px;
}

.adjust {
    padding: 20px 15px 0px;
    border: none;
    list-style: left;
}

.adjust li {
    text-align: center;
    display: flex;
    flex-direction: column;
}

p {
    font-size: x-large;
    text-align: center;
}

.main-text {
    margin: 20px 20px;
}

.desc-text {
    font-size: small;
    padding: 20px;
}

.pics {
    margin: 25px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pic-single-target {
    width: 180px;
    height: 180px;
    margin: 30px;
    border-radius: 100%;
}

.pics-alt {
    margin: 15px;
    /* padding: 0; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.video {
    margin: 20px;
    display: flex;
    justify-content: center;
}

.title-alt {
    margin: 20px 20px;
    display: flex;
    justify-content: center;
}

.wr-pad {
    margin: 30px;
}

footer {
    background-color: #fff;
    /* left: 0;
    bottom: 0;
    height: 200px;
    background-color: #272727;
    color: white; */
}

.footer-container {
    width: 100%;
    padding: 70px 30px 20px;
}

.icon {
    display: flex;
    justify-content: center;
}

.icon a{
    text-decoration: none;
    padding: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 50%;
}

.icon a i {
    font-size: 2em;
    color: black;
    opacity: 0.9;
}