@charset "UTF-8";
@use 'cores';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Yuji+Mai&display=swap');

* {
    font-family: "DM Sans", sans-serif;
}

$w: 100;

@mixin alert($cor_borda: #fff, $cor_fundo: #262626, $cor_fonte: transparent) {
    border: 1px solid $cor_borda;
    color: cores.$color3;
    background-color: $cor_fundo;
    padding: 10px;
    margin: 10px;
}

body {
    margin: 0;
    padding: 0;
    background-color: cores.$color1;
    color: cores.$color3;
}

header {
    top: 0;
    background-color: cores.$color2;
    margin: 10px;

    h3 {
        text-align: center;

        & {
            hover {
                color: cores.$color4;
            }
        }
    }
}

main {
    h3 {
        display: flex;
        justify-content: center;
    }

    h3:hover {
        // animation: ;
        transform: rotate(10deg);
    }
}

p {
    @include alert;
}

#button-div {
    display: flex;
    justify-content: center;
    border: none;

    button {
        border-radius: 0px;
        margin: 5px;
        padding: 10px 30px;
    }

    button:hover {
        color: cores.$color3;
        background-color: cores.$color4;
    }

    button:active {
        color: #fff;
        background-color: cores.$color2;
    }
}

%botao {
    padding: 7px (w/5)px;
    font-size: 1.2rem;
}

.botao-confirmar {
    @extend %botao;
    background-color: green;
    color: cores.$color1;
}

.botao-deletar {
    @extend %botao;
    background-color: red;
    color: cores.$color1;
}