@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Yuji+Mai&display=swap");
@keyframes animLowerRow {
  from {
    width: 178px;
    height: 253px;
    // transform: rotate(0deg);
  }
  to {
    width: 198px;
    height: 273px;
    // transform: rotate(10deg);
  }
}

@keyframes animLowerRowOnClick {
  from {
    width: 178px;
    height: 253px;
  }
  to {
    width: 168px;
    height: 243px;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #272727;
}

header {
  margin: 20px;
  background-color: #363636;
  h1 {
    display: flex;
    color: whitesmoke;
    align-items: center;
    justify-content: center;
    &:hover {
      color: #acacac;
    }
  }
}

#sec1 {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 288px;
    height: 403px;
    margin: 10px;
  }
}

#sec2 {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 178px;
    height: 253px;
    margin: 6px;
    &:hover {
      animation-name: animLowerRow;
      animation-duration: 300ms;
      width: 198px;
      height: 273px;
      // transform: rotate(10deg);
    }
    &:active {
      animation-name: animLowerRowOnClick;
      animation-duration: 250ms;
      width: 168px;
      height: 243px;
    }
  }
}

footer {
  p {
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
  }
}
